.InvitationPreview-module__VKe1Oq__dcDivider {
    color: var(--section-accent);
    opacity: .5;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex
}

.InvitationPreview-module__VKe1Oq__dcLine {
    background: currentColor;
    flex: 1;
    width: 1px;
    min-height: 40px
}

.InvitationPreview-module__VKe1Oq__dcIcon {
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    display: flex
}

@media (max-width:700px) {
    .InvitationPreview-module__VKe1Oq__dcDivider {
        flex-direction: row;
        align-self: center;
        width: 100%;
        max-width: 250px
    }

    .InvitationPreview-module__VKe1Oq__dcLine {
        width: auto;
        height: 1px;
        min-height: auto
    }

    .InvitationPreview-module__VKe1Oq__dcIcon {
        padding: 0 1rem
    }
}